@font-face {
    font-family: Pokemon;
    src: url(./fonts/Pokemon\ Solid.ttf);
}

.rights {
    background-color: red;
    font-family: monospace;
    font-size: 20px;
}

.navBar{
    background-color: red;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 15px;
}

.navBar a{
    color: inherit;
    text-decoration: none;
    display: flex;
    text-align: center;
}

.navBar ul{
    font-family: monospace;
    font-size: 25px;
    padding-left: 180px;
    list-style: none;
    display: flex;
}

.navBar li.active{
    background-color: yellow;
}

.navBar li:hover {
    background-color: aqua;
}

.title-page{
    padding:7px;
    font-size: 30px;
    font-family: Pokemon;
}

.title-page:hover{
    background-color: gray;
}