.home{
    background-color: aqua;
    height: 100%
    /*Muy importante para mandar cosas a la derecha */;
    margin-top: 120px;
    display: flex;
    margin-right: auto;
    padding: 0;
}

p{
    background-color: purple;
}
  
@font-face {
      font-family: Pokemon;
      src: url(./fonts/Pokemon\ Solid.ttf);
}

.newDiv{
    background-color: darkgoldenrod;
}