@font-face {
    font-family: Pokemon;
    src: url(./fonts/Pokemon\ Solid.ttf);
  }

.home{
  align-items: center;
}
@font-face {
    font-family: Pokemon;
    src: url(./fonts/Pokemon\ Solid.ttf);
  }

.home{
  align-items: center;
}
    