.home{

    background-color: aliceblue
    /*Muy importante para mandar cosas a la derecha */;
    display: flex;
    margin-right: auto;
    padding: 10px;
}

.home p{
    margin: 0;
    font-size: 20px;
}

  
@font-face {
      font-family: Pokemon;
      src: url(./fonts/Pokemon\ Solid.ttf);
}

.newDiv{
    background: #1f1f1f;
    margin: 0;
}

.pokemons{
    margin-bottom: 42px;
}

.pokemons img{
    width: 120px;
    height: 120px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

.pokemons img.first{
    width: 120px;
    height: 120px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 80px;
    padding-top: px;
}