.data p{
    color: aliceblue;
}

.datadiv{
    margin-top: 510px;
}

.center{
    padding-top: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.center2{
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
}
